<div class="grid-container">
  <div class="operarios-checkboxes">
    <h3>Mostrar Operarios</h3>
    @for(operario of operarios; track operario.nombre) {
      <div>
        <label>
          <input type="checkbox" [(ngModel)]="mostrarOperarios[operario.nombre]" />
          <img src="https://www.pngegg.com/es/png-tluen" alt="">
          {{ operario.nombre }}
        </label>
      </div>
    }
  </div>

  <ag-grid-angular
    class="ag-theme-alpine"
    style="width: 100%; height: 400px;"
    [rowData]="getOperariosFiltrados()"
    [columnDefs]="columnas"
    [gridOptions]="gridOptions"
    rowSelection="multiple"
  >
  </ag-grid-angular>
</div>
